option_settings:
  - namespace:  aws:elasticbeanstalk:environment:process:default
    option_name:  HealthCheckPath
    value:  /health/status
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value:  /health/status
  - namespace: aws:elasticbeanstalk:application
    option_name: HealthCheckURL
    value:  /health/status
  - namespace:  aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckURL
    value:  /health/status
  - namespace:  aws:elasticbeanstalk:environment:process:default
    option_name:  MatcherHTTPCode
    value:  200
